@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  @apply h-screen w-screen overflow-hidden grid bg-zinc-950;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 65px 1fr 45px;
}

header {
  @apply bg-zinc-800 text-white flex items-center justify-between px-6;
  grid-area: header;
}

header nav {
  @apply flex justify-end items-center h-full;
}

main {
  @apply bg-zinc-200;
  grid-area: main;
}

footer {
  @apply bg-zinc-800 text-white flex items-center justify-center;
  grid-area: footer;
}

main section {
  @apply grid place-content-center place-items-center h-full;
}

.logo h1 {
  @apply text-xl font-bold;
}
